footer {
  background-color: rgb(235, 164, 107);
  bottom: 0;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.flex-row{
  align-content: center;
  left: 50%;
}
.section{
  color:black;
  background-color: blanchedalmond;
  align-content: center;
}