footer {
  background-color: rgb(235, 164, 107);
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0%;
}
.flex-col{
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
header{
  text-align: center;
  right: 50%
}
section{
  text-align: center;
  box-shadow: 1px 5px 5px 1px #2b2a2a;
  margin: 10px;
  padding: 2px;
}