footer {
  background-color: rgb(235, 164, 107);
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0%;
}
.flex-col{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}
header{

}